:root {
    --sidebar-bg: #2B2D42;
    --sidebar-header-under: #EDF2F4;
}
body {
    margin: 0;
    font-family: sans-serif;
}

#sidebar {
    width: max(20vw, 20vh);
    background: var(--sidebar-bg);
    color: white;
    padding: 15px;
    height: 100vh;
}

#sidebar h1 {
    text-align: center;
    border-bottom: 2px solid var(--sidebar-header-under);
    padding-bottom: 15px;
}