:root {
    --sidebar-bg: #1d3557;
    --white-color: #f1faee;
}
body {
    margin: 0;
    font-family: sans-serif;
    color: var(--white-color); 
}

#sidebar {
    width: max(20vw, 20vh);
    background: var(--sidebar-bg);
    color: white;
    padding: 15px;
    height: 100vh;
}

#sidebar h1 {
    text-align: center;
    border-bottom: 2px solid var(--white-color);
    padding-bottom: 15px;
}