@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto&display=swap');
:root {
    --sidebar-bg: #084C61;
    --sidebar-bg-secondary: #052C39;
    --white-color: #FCFCFC;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: (var(--white-color));
}

#content {
    display: flex;
}

#todosContent {
    width: 100%;
    background-color: whitesmoke;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#todosContent .todo {
    padding: 0px 15px;
    background-color: #4B8F8C;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 24px;
    cursor:pointer;
    color: white;
}

#todosContent .todo input {
    width: 25px;
    height: 25px;
}

#todosContent .todo p {
    width: 100%;
}

#todosContent button {
    font-size: 24px;
    border: none;
    background-color: #324a55;
    color: white;
    padding: 15px;
    border-radius: 15px;
    text-align: left;
}
#todosContent button:hover {
    background-color: #11191d;
    cursor: pointer;
}

#todoDetails {
    position: fixed;
    background-color: white;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 60%;
    padding: 15px 30px;
    box-shadow: 0px 0px 15px gray;
    border-radius: 15px;
}

.notScrollable {
    overflow-y: hidden;
}

#sidebar {
    text-align: center;
    width: max(20vw, 20vh);
    background: var(--sidebar-bg);
    color: white;
    padding: 15px;
    height: 100vh;
}

#sidebar #projectsTitle {
    text-align: center;
    border-bottom: 2px solid var(--white-color);
    padding-bottom: 15px;
    font-size: 48px;
    font-style: italic;
}

#sidebar #projects {
    margin-top: 50px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#projects .project {
    padding: 15px;
    background: inherit;
    border-radius: 15px;
    border: none;
    width: 100%;
    color: var(--white-color);
    font-size: 32px;
    font-family: inherit;
    cursor:pointer;
}
#projects .selectedProject, #projects .project:hover {
    background: var(--sidebar-bg-secondary);
}